{% extends 'layout.html' %}

{% block content %}
	<div style="padding-left:2cm;width:25%">
		<h1>Please upload your catalog:</h1>
		<form action="/" method="POST" enctype="multipart/form-data">
			<input type="file" name="file">
			<p>
				Ignore system warnings?
				<input type="radio" name="ignore_system_warnings" value="True">True</input>
				<input type="radio" name="ignore_system_warnings" value="False" checked="checked">False</input>
			</p><br>
			<input type="submit" value="Upload" style="float: right">
		</form>
	</div>
{% endblock %}