<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>One Click Retail - Auto Categorizer Tool</title>
	<meta name="author" content="Jonathan Tieken">

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="content">

{% block content %}{% endblock %}
{% block notes %}
	{% if client_notes %}
		Notes:<br>
		{% for n in client_notes %}
			>> {{ n }}<br>
		{% endfor %}
	{% endif %}
{% endblock %}
</div>

</body>
</html>